<p>movies-form works!</p>
<div class="container">
  <h1>Add movie:</h1>
  <form (ngSubmit)="onSubmit()" #movieForm="ngForm">
    <div class="form-group">
      <label for="id">Id</label>
      <input type="number" class="form-control" id="id"
             [(ngModel)]="this.movie.id" name="id">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" required
             [(ngModel)]="this.movie.title" name="title">
    </div>

    <div class="form-group">
      <label for="year">Year</label>
      <input type="number" class="form-control" id="year"
             [(ngModel)]="this.movie.year" name="year">
    </div>

    <div class="form-group">
      <label for="minutes">Minutes</label>
      <input type="number" class="form-control" id="minutes"
             [(ngModel)]="this.movie.year" name="minutes">
    </div>

    <button type="submit" class="btn btn-success" (click)="addMovie()">Add Movie</button>
    <button type="submit" class="btn btn-success" (click)="deleteMovie()">Delete Movie</button>

  </form>
</div>

