<section id="rentalsList">
  <ul class="modelList">
    <li class="model" id="rental"
    *ngFor="let rental of rentalsList"
    (click)="onClick(rental)"
    [class.selected]="rental === currentRental">
      {{rental.clientId}}. {{rental.movieId}}. {{rental.rentDate}}
    </li>
  </ul>

</section>
