<!--<p>client works!</p>-->
<section id="clientsList">
  <ul class="modelList">
    <li class="model" id="client"
    *ngFor="let client of clientsList"
    (click)="onClick(client)"
    [class.selected]="client === currentClient">
      {{client.id}}.     {{client.name}}    .    {{client.email}}
    </li>
  </ul>
<!--  todo:maybe add stuff here and remove the email field-->
<!--  <div class="sections">-->
<!--    <div class="edit-popup" *ngIf="show">-->
<!--      <input type="text" name="" class="edit-item" value="{{value}}" #item>-->
<!--      <button class="btn-update" (click)="update(item.value)">Update</button>-->
<!--    </div>-->
</section>
<app-client-form></app-client-form>
