/*todo: add some css to the clients component*/
.model{
  background-color: lightblue;
  padding: 4px;
  max-width: 50%;
  font-family: Calibri, serif;
  margin-bottom: 2px;
  transition: 1s;
}

.model:hover{
  background-color: rgba(204, 95, 95, 0.58);
  transform: scale(1.05);
}
