<!--<p>movies works!</p>-->
<section id="moviesList">
  <ul class="modelList">
    <li class="model" id="movie"
      *ngFor="let movie of moviesList"
        (click)="onClick(movie)"
        [class.selected]="movie === currentMovie">
      {{movie.title}}. {{movie.year}}. {{movie.minutes}}
    </li>
  </ul>
</section>
<app-movies-form></app-movies-form>
