<div class="container">
  <h1>Add client:</h1>
  <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
    <div class="form-group">
      <label for="id">Id</label>
      <input type="number" class="form-control" id="id"
             [(ngModel)]="this.client.id" name="id">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required
      [(ngModel)]="this.client.name" name="name">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email"
      [(ngModel)]="this.client.email" name="email">
    </div>

    <button type="submit" class="btn btn-success" (click)="addClient()">Add Client</button>
    <button type="submit" class="btn btn-success" (click)="updateClient()">Update Client</button>
    <button type="submit" class="btn btn-success" (click)="deleteClient()">Delete Client</button>

  </form>
</div>


