<h1>{{title}}</h1>

<nav>
  <a routerLink="/clients" routerLinkActive="active">Clients</a>
  <a routerLink="/movies" routerLinkActive="active">Movies</a>
  <a routerLink="/rentals" routerLinkActive="active">Rentals</a>
</nav>


<router-outlet></router-outlet>




